body,
div,
form,
html,
input,
table {
    border: 0;
    margin: 0;
    padding: 0;
}


html {
    background-color: beige;
}


body {
    display: inline-block;
    width: 100%;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pageHeader {
    color: grey;
    font-family: sans-serif;
    font-size: 16px;
}

.pageContent {
    padding: 10px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

td.fieldName {
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid black;
    padding: 2px;
    font-size: 15px;
}

input[type="button"] {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid black;
}

input[type="button"].proceedButton {
    width: 256px;
    color: black;
    background-color: #C7FAFF;
}

input[type="button"].proceedButton:hover {
    color: white;
    background-color: #0000FF;
    cursor: pointer;
}

.pageFooter {
    color: grey;
    font-family: sans-serif;
    font-size: 16px;
}
