body,
div,
form,
html,
input,
table {
    border: 0;
    margin: 0;
    padding: 0;
}


html {
    background-color: beige;
}


body {
    display: inline-block;
    width: 100%;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pageHeader {
    color: grey;
}

.pageFooter {
    color: grey;
}
